* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
body {
    background-color: #fff;
    font-family: 'Lato', sans-serif;
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
}
