//color
$field-border: #e1e1e1;
$main-title-color: #545454;
$main-text-color: #8c9597;
$red-color: #f18b6d;
$yellow-color: #f1d204;
$violet-color: #6a4d8a;
$field-bg: #fcfcfc;
$news-bg: #222f36;
$top-footer-bg: #292825;
$bottom-footer-bg: #242320;

//break poin
$large: '(min-width: 1200px)';
$medium: '(min-width: 992px)';
$small: '(min-width: 768px)';
$mobile: '(max-width: 767px)';